@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=Lobster&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Mono+One&family=Russo+One&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 64px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-size: 28px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

body {
    /* background: #E5E5E5; */
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #F5F5F5;
}

/* .container {
    padding: 0 20px 0 60px;
    flex: 1;
} */

.main__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 3px solid rgb(138, 23, 23); */
}

.self.main__wrapper {
    width: 100%;
}

.main__wrapper div {
    /* border: 3px solid rgb(138, 23, 23); */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    min-height: 40px;
}

.main__header__container {
    padding: 0 20px 0 60px;
    flex: 1;
}

.self.content__container {
    width: 97%;
    margin: 0 auto;
}

.self.active {
    color: rgb(255, 0, 0);
}

/* ============================================================= nav ===================================== */

.self.main__nav__container {
    margin: 0;
}

.main__nav__container .logo {
    display: flex;
}

.main__nav__container .logo img {
    height: 140px;
    margin-top: -26px;
    margin-right: 0px;
}

.main__nav__container .logo p {
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    margin-top: 28px;
    margin-left: -45px;
}

.main__nav__container .nav__header {
    display: flex;
}

/* ============================ SEARCH ============================= */
/* ========================= SEARCH ============================= */
/* .wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
} */

.search-input input {
    height: 55px;
    width: 70%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    margin-left: 160px;
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow: auto;
}

.search-input.active.autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active.autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #f2f2f2;
}

.search-input .icon {
    position: absolute;
    right: 122px;
    top: 6px;
    height: 55px;
    width: 55px;
    margin-top: 12px;
    margin-right: 970px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

/* =========================================== ПОСТ ============================================= */

.self.main__nav__container .Edit {
    background-color: #fff;
}

.main__nav__container .Edit {
    display: flex;
    height: 55px;
    width: 12%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 0px 0 25px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    margin-left: 250px;
}

.main__nav__container .Edit:hover button,
.main__nav__container .Edit:hover span {
    opacity: 1;
    transition: 0.3s ease-in;
}

.main__nav__container .Edit span {
    opacity: 0.4;
    font-size: 32px;
    margin-top: 5px;
    margin-right: 5px;
}

.main__nav__container .Edit button {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    opacity: 0.4;
    margin-top: 10px;
}

.main__nav__container .Edit a {}


/* ================================ ICONS WEIGHT ======================== */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.main__nav__container .icons {
    display: flex;
    margin-top: 30px;
    margin-left: 350px;
    opacity: 0.4;
    height: 28px;
}

.main__nav__container .icons span {
    color: #3f3838;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 30px;
}

.main__nav__container .icons a {
    display: flex;
}

.main__nav__container .icons a p {
    color: #3f3838;
    opacity: 0.6;
    margin-top: 6px;
    margin-left: -10px;
    font-size: 20px;
    font-family: 'Rubik Mono One', sans-serif;
}

.main__nav__container .one {
    height: 28px;
}

.main__nav__container .one :hover {
    opacity: 1;

}

.main__nav__container .one span:hover {
    color: #000000;
}

.main__nav__container .two:hover span,
.main__nav__container .two:hover p {
    color: #000000;
    opacity: 1;

}